body{
    background-color: #a8d4e0;
}
h1{
    color: yellow;
    text-align: center;
}
.wrapper{
    justify-content: center;

}
.up {
    margin-left: 44%;   
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #007bff transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
   
    
  }

  .up input {
    text-align: center;
    top: 100px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 30px;
    margin: 0px;
  }
  button{
     text-align: center;
    top: 150px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 30px;
    margin: 0px;
  }